#bl{
    color:blueviolet;
     margin-left: 275px;
}
#bl1{
    color:crimson;
    text-align: left;
    margin-left: 10px;
}
#bl2{
    color:crimson;
    text-align: left;
    margin-left: 10px;
}