#cho{
    color:royalblue;

    margin-left: 275px;
}
#cho1{
    color:indianred;
    text-align: left;
    margin-left: 10px;
}
#cho2{
    color:indianred;
    text-align: left;
    margin-left: 10px;
}