#pine{
    color:rebeccapurple;

    margin-left: 275px;
}
#pine1{
    color:firebrick;
    text-align: left;
    margin-left: 10px;
}
#pine3{
    color:firebrick;
    text-align: left;
    margin-left: 10px;
}