#v{
    color:green;

    margin-left: 275px;
}
#v1{
    color:crimson;
    text-align: left;
    margin-left: 10px;
}
#v2{
    color:crimson;
    text-align: left;
    margin-left: 10px;
}